<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Banco de alimentos de Mexico</title>

</head>

<body>

    <h2>Bienvenido/a, <%= name %></h2>
    <form action="logOut?_method=DELETE" method="POST">
        <button type="submit"> Cerrar sesión</button>
    </form>
</body>