
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Banco de alimentos de Mexico</title>

</head>

<body>

    <div class="container_form sign_up" >
        <div class="welcome_back">
            <div class="message">
                <h2> Bienvenido a BAMX!</h2>
                <p>Si ya tienes una cuenta porfavor <a href="/login"> Inicia sesión</a></p>
                
            </div>
        </div>
        <form class="formulario" method="POST">
            <h2 class="create_account"> Crear una cuenta</h2>
            <p class="Cuenta_gratis">Crear una cuenta no tiene costo alguno</p>
            <input type="text" id="name" name="name" required placeholder="nombre">
            <input type="email" id="email" name="email" required placeholder="Email">
            <input type="password" id="password" name="password" required placeholder="contraseña">
            <input type="submit" value="Registrarse">
        </form>
    </div>

</body>
