*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: medium;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/Br.jpg); no-repeat center center fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#000000;
}

.container_form{
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;

}

.welcome_back{
    display: flex;
    align-items: center;
    text-align: center;
}

.message{
    padding: 1rem;
}

.message h2{
    font-size: 1.7rem;
    padding: 1rem 0;
    background-color: rgb(255, 255, 255, 0.602);
}

.message p{
    background-color: rgb(255, 255, 255, 0.602);
}

.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(255, 255, 255, 0.602);
    text-align: center;
}

.create_account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.cuenta_gratis{
    padding: 2rem 0;
    margin-bottom: 1.5rem;
}

.espacio_inicio_sesion {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: black;
}

.formulario input[type="text"]::placeholder,
.formulario input[type="email"]::placeholder,
.formulario input[type="password"]::placeholder
{
    color:black;
}

.formulario input[type="submit"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    color: white;
    background-color: brown;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
}

header h2 {
    margin: 0;
}

header .logout-form {
    margin: 0;
}

main {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 60px; /* Añade margen para que el contenido no se solape con el header */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 1;
    padding: 20px;
}

.content {
    flex: 3;
    padding: 20px;
}

#chartForm {
    margin-bottom: 20px;
}

#chartForm select {
    margin-right: 10px;
}

#myChart {
    width: 100%;
    height: 400px; /* Ajusta la altura de la gráfica según sea necesario */
}

