*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: medium;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/Bmx.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#000000;
}

.container_form{
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;

}

.welcome_back{
    display: flex;
    align-items: center;
    text-align: center;
}

.message{
    padding: 1rem;
}

.message h2{
    font-size: 1.7rem;
    padding: 1rem 0;
    background-color: rgb(71, 71, 71, 0.602);
}

.message p{
    background-color: rgb(71, 71, 71, 0.602);
}

.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
}

.create_account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.cuenta_gratis{
    padding: 2rem 0;
    margin-bottom: 1.5rem;
}

.espacio_inicio_sesion {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: black;
}

.formulario input[type="text"]::placeholder,
.formulario input[type="email"]::placeholder,
.formulario input[type="password"]::placeholder
{
    color:black;
}

.formulario input[type="submit"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    color: black;
    background-color: brown;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
}

